@import "../../var.scss";

.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    // background: radial-gradient(circle at 100% 100%, #69608a 0, #69608a 1px, transparent 1px) 0% 0%/6px 6px no-repeat,
    //         radial-gradient(circle at 0 100%, #69608a 0, #69608a 1px, transparent 1px) 100% 0%/6px 6px no-repeat,
    //         radial-gradient(circle at 100% 0, #69608a 0, #69608a 1px, transparent 1px) 0% 100%/6px 6px no-repeat,
    //         radial-gradient(circle at 0 0, #69608a 0, #69608a 1px, transparent 1px) 100% 100%/6px 6px no-repeat,
    //         linear-gradient(90deg, #c0bfe5 0%, #3f448e 100%);
    color: rgb(233, 230, 230);
    // background: url(../../assets/wires.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    transition: opacity 1s linear;

    &__top {
        width: 85%;
        margin: 1rem auto 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        box-shadow: $box-shadow;
        
        .logo {
            width: 15%;
            margin: 0;
        }
        & a {
            img {
                margin-right: 5px;
            }
        }
        address {
            display: flex;
            width: 50%;
            align-items: center; 
            font-style: normal;
            justify-content: right;
            &:first-child {
                margin-right: 2px;
            }
        }
        .button {
            width: fit-content;
            margin: 0;
        }
    }
    &__bottom {
        display: flex;
        flex-direction: column;
        margin: 2rem auto 3rem;
        // box-shadow: $box-shadow;
        .title {
            width: 70%;
            font-size: 3.5rem;
        }
        .subtitle {
            font-size: 1.5rem;
            text-align: center;
        }
        .button {
            font-size: 1.5rem;
            padding: 20px 36px;
        }
    }
}